<div class="container-fluid">
    <div class="row">
        <h1>Proyectos Realizados</h1>
        <div class="contenedor">
                     
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Blog Personal</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae mollitia minima voluptate facere labore aperiam praesentium enim nesciunt blanditiis! Explicabo nam sequi ex maiores expedita inventore id temporibus nobis!</p>
                
            </div>
            

            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/blog.png" class="img-fluid imgproyecto">
                </div>
                <hr>

            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Libro: "Luces, Sombras y Claroscuros"</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae mollitia minima voluptate facere labore aperiam praesentium enim nesciunt blanditiis! Explicabo nam sequi ex maiores expedita inventore id temporibus nobis!</p>
            </div>

            
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/libro.png" class="img-fluid imgproyecto">
            </div>
            <hr>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Arte Digital</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae mollitia minima voluptate facere labore aperiam praesentium enim nesciunt blanditiis! Explicabo nam sequi ex maiores expedita inventore id temporibus nobis!</p>
                
            </div>

            
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/artedigital.png" class="img-fluid imgproyecto">
            </div>
            <hr>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Arte Digital Exhibición online</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae mollitia minima voluptate facere labore aperiam praesentium enim nesciunt blanditiis! Explicabo nam sequi ex maiores expedita inventore id temporibus nobis!</p>
                
            </div>

           
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/artedigital2.png" class="img-fluid imgproyecto">
            </div>

        </div>
    </div>
</div>
