<div class="container-fluid">
<div class="row">
    <h1> Educación</h1>
<div class="col-lg-10"></div>
<ul>
  
    <li>
        <h2>Secundario</h2> - <h3>(years)</h3>
    </li>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident officia excepturi, amet ab quae debitis enim possimus ea, dolorum facere repudiandae quidem odio soluta molestiae, sint voluptatum perspiciatis voluptatibus necessitatibus.</p>
    <li>
        <h2>Universitario</h2> - <h3>(years)</h3>
    </li>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident officia excepturi, amet ab quae debitis enim possimus ea, dolorum facere repudiandae quidem odio soluta molestiae, sint voluptatum perspiciatis voluptatibus necessitatibus.</p>
    <li>
        <h2>Capacitaciones</h2> - <h3>(years)</h3>
    </li>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident officia excepturi, amet ab quae debitis enim possimus ea, dolorum facere repudiandae quidem odio soluta molestiae, sint voluptatum perspiciatis voluptatibus necessitatibus.</p>

</ul>
</div>
</div>
