<div class="container-fluid">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <p> </p>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="80"
            [radius]="80"
            [subtitle]="'HTML5'"
            [subtitleFontSize]="'20px'"
            [subtitleColor]="'black'"
            [titleFontSize]="'15px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#127f7f'"
            [innerStrokeColor]="'#84caca'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="80"
            [radius]="80"
            [subtitle]="'CSS'"
            [subtitleFontSize]="'20px'"
            [subtitleColor]="'black'"
            [titleFontSize]="'15px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#127f7f'"
            [innerStrokeColor]="'#84caca'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="65"
            [radius]="80"
            [subtitle]="'JS'"
            [subtitleFontSize]="'20px'"
            [subtitleColor]="'black'"
            [titleFontSize]="'15px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#127f7f'"
            [innerStrokeColor]="'#84caca'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="65"
            [radius]="80"
            [subtitle]="'GitHub'"
            [subtitleFontSize]="'20px'"
            [subtitleColor]="'black'"
            [titleFontSize]="'15px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#127f7f'"
            [innerStrokeColor]="'#84caca'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="75"
            [radius]="80"
            [subtitle]="'Inglés'"
            [subtitleFontSize]="'20px'"
            [subtitleColor]="'black'"
            [titleFontSize]="'15px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#127f7f'"
            [innerStrokeColor]="'#84caca'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="80"
            [subtitle]="'Colaborativo'"
            [subtitleFontSize]="'20px'"
            [subtitleColor]="'black'"
            [titleFontSize]="'15px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#127f7f'"
            [innerStrokeColor]="'#84caca'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
        </div>
        <p> </p>
    </div>
</div>
