div{
    background-color: #127f7f;
    text-align: left;
    color: white;
    padding-bottom: 8px;
}
#nombre{
    font-size:large;
    font-weight: bold;
    margin-top: 28%;
    text-align: center;
    color: white;
}
#titulo{
    text-align: center;
    margin-top: -4%;
    font-style: italic;
    color: white;
}
#acerca{
    font-weight: bold;
    margin-top: 2%;
    text-align: left;
    color: white;
}
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #87c2c7;
        left: 8.5%;
        top: 450px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 230px;
    }
}