<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilfoto.jpg" class="img-fluid">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p>Mariana Aran</p>
    <p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de:</h1>
        <p>Mariana Aran nació en Buenos Aires en 1972. Es periodista y escritora. Ha publicado el libro "Luces, Sombras y Claroscuros" para Editorial Haley. En la actualidad, realiza tareas de consultoría IT como Full Stack Developer Jr. y desarrolla contenidos narrativos para diferentes medios. Ha completado los cursos de Argentina Programa #SéProgramar y #YoProgramo durante el año 2022.</p>
    </span>
</div>
</div>

